input {
  margin-top: 10rem;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  font: inherit;
  color: #ffffff;
}

.input {
  background: none;
  font-size: 72px;
  width: calc(100vw - 4rem);
  border: none;
  outline: none;
  text-align: center;
  padding: 0;
}

.input::placeholder {
  color: #4e4e4e;
}